<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosen.product.mapper.ProductCategoryBrandMapper">


    <select id="pageList" resultType="com.bosen.product.vo.response.ProductCategoryBrandDetailVO">
        select bpcb.*, bpc.name category_name, bpb.name brand_name from bs_product_category_brand bpcb
        inner join bs_product_category bpc on bpc.id = bpcb.category_id
        inner join bs_product_brand bpb on bpb.id = bpcb.brand_id
        <where>
            <if test='queryParams.categoryName != null and queryParams.categoryName.trim() neq ""'>
                and bpc.name like concat('%',#{queryParams.categoryName},'%')
            </if>
            <if test='queryParams.brandName !=null and queryParams.brandName.trim() neq ""'>
                and bpb.menu_id = #{queryParams.brandName}
            </if>
        </where>
        ORDER BY bpcb.id DESC
    </select>

    <select id="listForMobile" resultType="com.bosen.product.vo.response.ProductCategoryBrandDetailVO">
        select bpcb.*, bpc.name category_name, bpb.name brand_name from bs_product_category_brand bpcb
        inner join bs_product_category bpc on bpc.id = bpcb.category_id
        inner join bs_product_brand bpb on bpb.id = bpcb.brand_id
        <where>
            <if test='queryParams.categoryName != null and queryParams.categoryName.trim() neq ""'>
                and bpc.name like concat('%',#{queryParams.categoryName},'%')
            </if>
            <if test='queryParams.brandName !=null and queryParams.brandName.trim() neq ""'>
                and bpb.menu_id = #{queryParams.brandName}
            </if>
        </where>
        ORDER BY bpcb.id DESC
    </select>

</mapper>
