<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosen.product.mapper.ProductMapper">

    <select id="listPages" resultType="com.bosen.product.vo.response.ProductDetailVO">
        select
            bb.*,
            GROUP_CONCAT(DISTINCT bpc.name order by bpc.create_time asc SEPARATOR ' > ' ) category_name,
            bpb.name brand_name from bs_product bb
        inner join bs_product_category bpc on FIND_IN_SET(bpc.id, bb.category_id)
        inner join bs_product_brand bpb on bpb.id = bb.brand_id
        <where>
            <if test='queryParams.keywords != null and queryParams.keywords.trim() neq ""'>
                and bb.name like concat('%',#{queryParams.keywords},'%')
            </if>
            <if test='queryParams.categoryId !=null'>
                and FIND_IN_SET(#{queryParams.categoryId}, bb.category_id)
            </if>
            <if test='queryParams.merchantCategoryId !=null'>
                and FIND_IN_SET(#{queryParams.merchantCategoryId}, bb.merchant_category_id)
            </if>
            <if test='queryParams.merchantId !=null'>
                and bb.merchant_id = #{queryParams.merchantId}
            </if>
            <if test='queryParams.merchantRoleId !=null'>
                and bb.merchant_role_id = #{queryParams.merchantRoleId}
            </if>
            <if test='queryParams.merchantName !=null'>
                and bb.merchant_name like concat('%',#{queryParams.merchantName},'%')
            </if>
        </where>
        group by bb.id
        ORDER BY bb.create_time DESC
    </select>
    <select id="detailById" resultType="com.bosen.product.vo.response.ProductDetailVO" parameterType="string">
        select
        bb.*,
        GROUP_CONCAT(DISTINCT bpc.name order by bpc.create_time asc SEPARATOR ' > ' ) category_name,
        bpb.name brand_name from bs_product bb
        inner join bs_product_category bpc on FIND_IN_SET(bpc.id, bb.category_id)
        inner join bs_product_brand bpb on bpb.id = bb.brand_id
        where bb.id = #{id}
        group by bb.id
        ORDER BY bb.create_time DESC
    </select>
</mapper>
